{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content">

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-newspaper icon-list"></i> My Posts</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div>

        <div class="post_create_btns">
            <div>
                <div>
                    <h5>Add Product News</h5>
                    <button><i class="fa-solid fa-plus"></i> Create Post</button>
                </div>
            </div>
            <div>
                <div>
                    <h5>Add Events</h5>
                    <button><i class="fa-solid fa-plus"></i> Create Events</button>
                </div>
            </div>
        </div>


        <div class="tab_menu">
            <div>
                <h3>34</h3>
                <p>Total</p>
            </div>
            <div>
                <h3>34</h3>
                <p>Approved</p>
            </div>
            <div>
                <h3>34</h3>
                <p>Rejected</p>
            </div>
            <div>
                <h3>34</h3>
                <p>Reported</p>
            </div>
        </div>

        <div class="post_box">
            <div>
                <div>
                    <p>20 Jan,23</p>
                </div>
                <div>
                    <button>Approved</button>
                </div>
            </div>
            <div>
                <h4>This is the name of the world</h4>
            </div>
            <div>
                <div>
                    <p>Post</p>
                </div>
                <div>
                    <button class="edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    <button class="del"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button class="view"><i class="fa-solid fa-eye"></i> preview</button>
                </div>
            </div>
        </div>

        <div class="post_box">
            <div>
                <div>
                    <p>20 Jan,23</p>
                </div>
                <div>
                    <button>Approved</button>
                </div>
            </div>
            <div>
                <h4>This is the name of the world</h4>
            </div>
            <div>
                <div>
                    <p>Post</p>
                </div>
                <div>
                    <button class="edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    <button class="del"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button class="view"><i class="fa-solid fa-eye"></i> preview</button>
                </div>
            </div>
        </div>

        <div class="post_box">
            <div>
                <div>
                    <p>20 Jan,23</p>
                </div>
                <div>
                    <button>Approved</button>
                </div>
            </div>
            <div>
                <h4>This is the name of the world</h4>
            </div>
            <div>
                <div>
                    <p>Post</p>
                </div>
                <div>
                    <button class="edit"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                    <button class="del"><i class="fa-solid fa-trash"></i> Delete</button>
                    <button class="view"><i class="fa-solid fa-eye"></i> preview</button>
                </div>
            </div>
        </div>

        

    </div>

{% endblock content %}
