{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content">

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-chart-simple icon-list"></i> My Analytics</h3>
                </div>
            </div>
            <div>
                <div>
                    <!-- Some code here -->
                </div>
            </div>
        </div>

        <div class="service-not-available">
            <div>
                <h2><i class="fa-solid fa-triangle-exclamation"></i></h2>
                <h3>Sorry! Service not available.</h3>
            </div>
        </div>

    


    </div>

{% endblock content %}
