{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content">

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-store icon-list"></i> Delivery Boy</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div>

        <div class="profile_sec">
            <div >
                <div class="center_profile">
                    <div>
                        <div style="background-image:url(https://img.freepik.com/free-photo/food-delivery-boy-driving-scooter-with-box-with-food-wearing-mask_1303-27713.jpg)"></div>
                    </div>
                    <div>
                        <div>
                            <h3>Mritunjoy Mushahary</h3>
                        </div>
                        <div>

                            <label class="online_offline">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>

                            <button style="background-color:green;color:white;">active</button>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div>
                    <button>My Stores (1)</button>
                </div>
                <div>

                    <div class="more_btn">
                        783360
                        <button modal="more_list1" onclick="show_more_list(this)" class="more_btn_cont">more <i class="fa-solid fa-caret-down"></i></button>
                        <div id="more_list1" style="display:none;" class="more_list">
                            <ul>
                                <li><i class="fa-solid fa-pen-to-square"></i> Edit</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="create_bar">
            <div>
                <div style="width:160px;"><button><i class="fa-solid fa-plus"></i></button>
                Request Store</div>
            </div>
            <div>
                <div><h5>4</h5></div>
            </div>
        </div>


        <div class="my_store_list">
            <div class="center_profile">
                <div>
                    <div style="background-image:url(https://cdn.britannica.com/16/204716-050-8BB76BE8/Walmart-store-Mountain-View-California.jpg)"></div>
                </div>
                <div>
                    <div>
                        <h3>Sharema store</h3>
                    </div>
                    <div>
                        <button style="background-color:green;color:white;">Store opened</button>
                    </div>
                </div>
            </div>
            <div>
                <button>Details</button>
            </div>
        </div>

         <div class="my_store_list">
            <div class="center_profile">
                <div>
                    <div style="background-image:url(https://cdn.britannica.com/16/204716-050-8BB76BE8/Walmart-store-Mountain-View-California.jpg)"></div>
                </div>
                <div>
                    <div>
                        <h3>Sharema store</h3>
                    </div>
                    <div>
                        <button style="background-color:green;color:white;">Store opened</button>
                    </div>
                </div>
            </div>
            <div>
                <button>Details</button>
            </div>
        </div>

         <div class="my_store_list">
            <div class="center_profile">
                <div>
                    <div style="background-image:url(https://cdn.britannica.com/16/204716-050-8BB76BE8/Walmart-store-Mountain-View-California.jpg)"></div>
                </div>
                <div>
                    <div>
                        <h3>Sharema store</h3>
                    </div>
                    <div>
                        <button style="background-color:green;color:white;">Store opened</button>
                    </div>
                </div>
            </div>
            <div>
                <button>Details</button>
            </div>
        </div>

        




    </div>

{% endblock content %}
