{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content" >

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-bag-shopping icon-list"></i> Local Market (34)</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div><!-- .title_bar -->

        <div class="categories_lists">
            <div>
                <a href="/local-market-cat">
                    <div>
                        <h3>By Cycles</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-market-cat">
                    <div>
                        <h3>Tracktors</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-market-cat">
                    <div>
                        <h3>Desktops</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-market-cat">
                    <div>   
                        <h3>Mobile Phone</h3>
                        <button>34</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-market-cat">
                    <div>   
                        <h3>Motor Cycle</h3>
                        <button>23</button>
                    </div>
                </a>
            </div>
        </div>

    </div><!-- .main_content -->

{% endblock content %}