{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content" >

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-briefcase icon-list"></i> Local Business (23)</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div><!-- .title_bar -->

        <div class="categories_lists">
            <div>
                <a href="/local-business-cat">
                    <div>
                        <h3>Carpenter</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-business-cat">
                    <div>
                        <h3>Electricians</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-business-cat">
                    <div>
                        <h3>Restaurents</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-business-cat">
                    <div>
                        <h3>Fashon Store</h3>
                        <button>34</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-business-cat">
                    <div>
                        <h3>Bike Machanics</h3>
                        <button>23</button>
                    </div>
                </a>
            </div>
        </div>

    </div><!-- .main_content -->

{% endblock content %}