{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content" >

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-users icon-list"></i> Local People (34)</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div><!-- .title_bar -->

        <div class="categories_lists">
            <div>
                <a href="/local-people-cat">
                    <div>
                        <h3>Software Engineers</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-people-cat">
                    <div>
                        <h3>Teachers</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-people-cat">
                    <div>
                        <h3>Doctor</h3>
                        <button>2</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-people-cat">
                    <div>   
                        <h3>Dentist</h3>
                        <button>34</button>
                    </div>
                </a>
            </div>
            <div>
                <a href="/local-people-cat">
                    <div>   
                        <h3>Student</h3>
                        <button>23</button>
                    </div>
                </a>
            </div>
        </div>

    </div><!-- .main_content -->

{% endblock content %}