{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content" >

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-tag"></i> Electricians (32)</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div><!-- .title_bar -->

        <div class="business">
            <div>
                <div class="business_img" style="background-image:url(https://images.picxy.com/cache/2018/7/19/6651cc74fc3a6f7b9c5048b82e0f48d6.jpg)"></div>
            </div>
            <div>
                <div>
                    <h3>Business name</h3>
                    <p><i class="fa-solid fa-location-dot"></i> 783360 <button class="cat_text">Electricians</button></p>
                </div>
                <div class="secondhand_btns">
                    <div>
                        <button><i class="fa-solid fa-ellipsis"></i></button>
                        <p>More</p>
                    </div>
                    <div>
                        <button><i class="fa-solid fa-phone-volume"></i></button>
                        <p>Contact</p>
                    </div>
                    <div>
                        <button><i class="fa-solid fa-floppy-disk"></i></button>
                        <p>Save</p>
                    </div>
                </div>
            </div>
        </div><!-- .business -->

        <div class="business">
            <div>
                <div class="business_img" style="background-image:url(https://images.picxy.com/cache/2018/7/19/6651cc74fc3a6f7b9c5048b82e0f48d6.jpg)"></div>
            </div>
            <div>
                <div>
                    <h3>Business name</h3>
                    <p><i class="fa-solid fa-location-dot"></i> 783360 <button class="cat_text">Electricians</button></p>
                </div>
                <div class="secondhand_btns">
                    <div>
                        <button><i class="fa-solid fa-ellipsis"></i></button>
                        <p>More</p>
                    </div>
                    <div>
                        <button><i class="fa-solid fa-phone-volume"></i></button>
                        <p>Contact</p>
                    </div>
                    <div>
                        <button><i class="fa-solid fa-floppy-disk"></i></button>
                        <p>Save</p>
                    </div>
                </div>
            </div>
        </div><!-- .business -->

        <div class="business">
            <div>
                <div class="business_img" style="background-image:url(https://images.picxy.com/cache/2018/7/19/6651cc74fc3a6f7b9c5048b82e0f48d6.jpg)"></div>
            </div>
            <div>
                <div>
                    <h3>Business name</h3>
                    <p><i class="fa-solid fa-location-dot"></i> 783360 <button class="cat_text">Electricians</button></p>
                </div>
                <div class="secondhand_btns">
                    <div>
                        <button><i class="fa-solid fa-ellipsis"></i></button>
                        <p>More</p>
                    </div>
                    <div>
                        <button><i class="fa-solid fa-phone-volume"></i></button>
                        <p>Contact</p>
                    </div>
                    <div>
                        <button><i class="fa-solid fa-floppy-disk"></i></button>
                        <p>Save</p>
                    </div>
                </div>
            </div>
        </div><!-- .business -->

        


    </div><!-- .main_content -->

{% endblock content %}

{% block right_bar %}

    <div class="cat_right">

        <div class="cat_title">
            <div>
                <a href="/local-business">
                    <div><div><i class="fa-solid fa-left-long"></i></div></div>
                </a>
            </div>
            <div>
                <div><h5>Other Categories</h5></div>
            </div>
        </div>

        <div class="cat_list">

            <div class="cat">
                <a href="/local-market-cat">
                    <h5>Electricians <button>23</button></h5>
                </a>
            </div>

           <div class="cat">
                <a href="/local-market-cat">
                    <h5>Bike Mechanics <button>23</button></h5>
                </a>
            </div>
            <div class="cat">
                <a href="/local-market-cat">
                    <h5>Restaurents <button>23</button></h5>
                </a>
            </div>
            <div class="cat">
                <a href="/local-market-cat">
                    <h5>Fashion Stores <button>23</button></h5>
                </a>
            </div>
            <div class="cat">
                <a href="/local-market-cat">
                    <h5>Hotel <button>23</button></h5>
                </a>
            </div>

        </div>

    </div>

{% endblock right_bar %}