{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content">

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-bolt icon-list"></i> Offer Lists (34)</h3>
                </div>
            </div>
            <div>
                <div>
                    <h4>78336 <button><i class="fa-solid fa-location-dot"></i></button></h4>
                </div>
            </div>
        </div>

        {% comment %} OFFER POST - START {% endcomment %}
     
        <div class="offer_post">

            <div class="product">
                
                <div class="product_bo">
                    <div class="date">
                        <h5><font class="off">Offer Date:</font> 23th Jan - 30th Jan, 2023</h5>
                    </div>
                    <div class="product_img_bo" >
                        <div class="product_img" style="background-image:url(https://img.freepik.com/premium-vector/special-offer-poster-shopping-banner-with-blank-product-podium-scene_297886-602.jpg)">
                            <div class="left_bar">
                                <div><i class="fa-solid fa-angle-left"></i></div>
                            </div>
                            <div class="right_bar">
                                <div><i class="fa-solid fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="offer">
                        <div>
                            <h2>50%</h2>
                            <p>OFF</p>
                        </div>
                    </div>
                </div>

                <div class="product_title">
                    <h2>The title is here</h2>
                </div>

                <div class="product_btn">
                    <div>
                        <div>
                            <p><del>MRP <i class="fa-solid fa-indian-rupee-sign"></i>5000/-</del></p>
                            <button class="price"><h3><i class="fa-solid fa-indian-rupee-sign"></i>4000/-</h3></button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p><i class="fa-solid fa-location-dot"></i> 783360</p>
                            <button class="buy_btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="store">
                <div class="store_profile">
                    <div>
                        <div style="background-image:url(https://img.etimg.com/thumb/width-1200,height-900,imgsize-552986,resizemode-75,msid-98507873/small-biz/sme-sector/from-ambani-to-adani-why-billionaires-have-not-been-able-to-break-the-stronghold-of-kirana-stores-in-india.jpg)" class="img"></div>
                    </div>
                    <div>
                        <div>
                            <a href="">
                                <h5>Store Name</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more_btn">
                <button modal="more_list1" onclick="show_more_list(this)" class="more_btn_cont">more <i class="fa-solid fa-caret-down"></i></button>
                <div id="more_list1" style="display:none;" class="more_list">
                    <ul>
                        <li><i class="fa-solid fa-floppy-disk"></i> Save</li>
                        <li><i class="fa-regular fa-flag"></i> Report</li>
                        <li><i class="fa-solid fa-rectangle-ad"></i> Promote</li>
                        <li><i class="fa-solid fa-share"></i> Share</li>
                    </ul>
                </div>
            </div>

        </div>
        
        {% comment %} OFFER POST - END {% endcomment %}

        {% comment %} OFFER POST - START {% endcomment %}
     
        <div class="offer_post">

            <div class="product">
                
                <div class="product_bo">
                    <div class="date">
                        <h5><font class="off">Offer Date:</font> 23th Jan - 30th Jan, 2023</h5>
                    </div>
                    <div class="product_img_bo" >
                        <div class="product_img" style="background-image:url(https://img.freepik.com/premium-vector/special-offer-poster-shopping-banner-with-blank-product-podium-scene_297886-602.jpg)">
                            <div class="left_bar">
                                <div><i class="fa-solid fa-angle-left"></i></div>
                            </div>
                            <div class="right_bar">
                                <div><i class="fa-solid fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="offer">
                        <div>
                            <h2>50%</h2>
                            <p>OFF</p>
                        </div>
                    </div>
                </div>

                <div class="product_title">
                    <h2>The title is here</h2>
                </div>

                <div class="product_btn">
                    <div>
                        <div>
                            <p><del>MRP <i class="fa-solid fa-indian-rupee-sign"></i>5000/-</del></p>
                            <button class="price"><h3><i class="fa-solid fa-indian-rupee-sign"></i>4000/-</h3></button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p><i class="fa-solid fa-location-dot"></i> 783360</p>
                            <button class="buy_btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="store">
                <div class="store_profile">
                    <div>
                        <div style="background-image:url(https://img.etimg.com/thumb/width-1200,height-900,imgsize-552986,resizemode-75,msid-98507873/small-biz/sme-sector/from-ambani-to-adani-why-billionaires-have-not-been-able-to-break-the-stronghold-of-kirana-stores-in-india.jpg)" class="img"></div>
                    </div>
                    <div>
                        <div>
                            <a href="">
                                <h5>Store Name</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more_btn">
                <button modal="more_list2" onclick="show_more_list(this)" class="more_btn_cont">more <i class="fa-solid fa-caret-down"></i></button>
                <div id="more_list2" style="display:none;" class="more_list">
                    <ul>
                        <li><i class="fa-solid fa-floppy-disk"></i> Save</li>
                        <li><i class="fa-regular fa-flag"></i> Report</li>
                        <li><i class="fa-solid fa-rectangle-ad"></i> Promote</li>
                        <li><i class="fa-solid fa-share"></i> Share</li>
                    </ul>
                </div>
            </div>

        </div>
        
        {% comment %} OFFER POST - END {% endcomment %}

        {% comment %} OFFER POST - START {% endcomment %}
     
        <div class="offer_post">

            <div class="product">
                
                <div class="product_bo">
                    <div class="date">
                        <h5><font class="off">Offer Date:</font> 23th Jan - 30th Jan, 2023</h5>
                    </div>
                    <div class="product_img_bo" >
                        <div class="product_img" style="background-image:url(https://img.freepik.com/premium-vector/special-offer-poster-shopping-banner-with-blank-product-podium-scene_297886-602.jpg)">
                            <div class="left_bar">
                                <div><i class="fa-solid fa-angle-left"></i></div>
                            </div>
                            <div class="right_bar">
                                <div><i class="fa-solid fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="offer">
                        <div>
                            <h2>50%</h2>
                            <p>OFF</p>
                        </div>
                    </div>
                </div>

                <div class="product_title">
                    <h2>The title is here</h2>
                </div>

                <div class="product_btn">
                    <div>
                        <div>
                            <p><del>MRP <i class="fa-solid fa-indian-rupee-sign"></i>5000/-</del></p>
                            <button class="price"><h3><i class="fa-solid fa-indian-rupee-sign"></i>4000/-</h3></button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p><i class="fa-solid fa-location-dot"></i> 783360</p>
                            <button class="buy_btn"><i class="fa-solid fa-cart-shopping"></i> Buy Now</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="store">
                <div class="store_profile">
                    <div>
                        <div style="background-image:url(https://img.etimg.com/thumb/width-1200,height-900,imgsize-552986,resizemode-75,msid-98507873/small-biz/sme-sector/from-ambani-to-adani-why-billionaires-have-not-been-able-to-break-the-stronghold-of-kirana-stores-in-india.jpg)" class="img"></div>
                    </div>
                    <div>
                        <div>
                            <a href="">
                                <h5>Store Name</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more_btn">
                <button modal="more_list3" onclick="show_more_list(this)" class="more_btn_cont">more <i class="fa-solid fa-caret-down"></i></button>
                <div id="more_list3" style="display:none;" class="more_list">
                    <ul>
                        <li><i class="fa-solid fa-floppy-disk"></i> Save</li>
                        <li><i class="fa-regular fa-flag"></i> Report</li>
                        <li><i class="fa-solid fa-rectangle-ad"></i> Promote</li>
                        <li><i class="fa-solid fa-share"></i> Share</li>
                    </ul>
                </div>
            </div>

        </div>
        
        {% comment %} OFFER POST - END {% endcomment %}

        

    </div>

{% endblock content %}
