{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content">

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-gear icon-list"></i> Settings</h3>
                </div>
            </div>
            <div>
                <div>
                    <!-- Some code here -->
                </div>
            </div>
        </div>


        
        <div class="title_bar">
            <div>
                <div>
                    <h4><i class="fa-solid fa-user"></i> Profile</h4>
                </div>
            </div>
            <div>
                <div>
                    <button class="circle_btn"><i class="fa-solid fa-right-long"></i></button>
                </div>
            </div>
        </div>

        <div class="title_bar">
            <div>
                <div>
                    <h4><i class="fa-solid fa-address-book"></i> Contact</h4>
                </div>
            </div>
            <div>
                <div>
                    <button class="circle_btn"><i class="fa-solid fa-right-long"></i></button>
                </div>
            </div>
        </div>

        <div class="title_bar">
            <div>
                <div>
                    <h4><i class="fa-solid fa-shield-halved"></i> Security</h4>
                </div>
            </div>
            <div>
                <div>
                    <button class="circle_btn"><i class="fa-solid fa-right-long"></i></button>
                </div>
            </div>
        </div>
    


    </div>

{% endblock content %}
