{% extends "../customers-base.html" %}

{% block content %}

    <div class="main_content">

        <div class="title_bar">
            <div>
                <div>
                    <h3><i class="fa-solid fa-users-rays icon-list"></i> My Referral</h3>
                </div>
            </div>
            <div>
                <div>
                    <!-- Some code here -->
                </div>
            </div>
        </div>

        <div class="referral_box">
            <div>
                <h3>Referral Link</h3>
            </div>
            <div>
                <input type="text" placeholder="Referral Link" />
            </div>
            <div>
                <button><i class="fa-solid fa-copy"></i> Copy</button>
                <button><i class="fa-solid fa-share"></i> Share</button>
            </div>
        </div>

        <div class="details_list">
            <div>
                <p>Total: <b>23</b></p>
            </div>
            <div>
                <p>Active: <b>23</b></p>
            </div>
            <div>
                <p>Others: <b>23</b></p>
            </div>
        </div>

        <div class="bank transaction">
            <div class="table-bar">
                <div>
                    <div>
                        <h3 class="text-color2">Downline</h3>
                    </div>
                </div>
                <div>
                    <p>
                        2/234
                        <button><i class="fa-solid fa-caret-left"></i></button>
                        <button><i class="fa-solid fa-caret-right"></i></button>
                    </p>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Full Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jame Neutron</td>
                        <td>activated</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Jame Neutron</td>
                        <td>activated</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Jame Neutron</td>
                        <td>activated</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Jame Neutron</td>
                        <td>activated</td>
                    </tr>
                </tbody>
            </table>
        </div>

    


    </div>

{% endblock content %}
